@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --mood-1: #2d6b5f;
    --mood-2: #72e3a6;
    --mood-3: #dff4c7;
    --mood-4: #edbf98;
    --mood-5: #ea3d36;
    --default-color: #888888;
    --white:#FFFFFF;
}

body {
    font-family: 'Muli';
    line-height: 1;

}

.topPart {
    text-align: center;
}

#cal-title-sub {
    margin-bottom: 13px;
}

span {
    display: inline-block;
    margin-right: 13px;
    border-radius: 50%;
}

i {
    cursor: pointer;
    border-radius: 50%;
}

th {
    font-weight: 500;
    font-size: 0.9rem;
}

td {
    text-align: center;
    color: white;
}

td div {
    background-color: var(--default-color);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18%;
    cursor: pointer;
    font-size: 0.7rem;
}

caption{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 3px;
}
td,
th {
    /* border: 1px solid #999; */
    height: 30px;
    width: 40px;
}

i#mood-1 {
    color: var(--mood-1);
}

i#mood-2 {
    color: var(--mood-2);
}

i#mood-3 {
    color: var(--mood-3);
}

i#mood-4 {
    color: var(--mood-4);
}

i#mood-5 {
    color: var(--mood-5);
}

.Calenders{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

table{
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}