@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--mood-color-1: #2d6b5f;
	--mood-color-2: #72e3a6;
	--mood-color-3: #dff4c7;
	--mood-color-4: #edbf98;
	--mood-color-5: #ea3d36;
}

body{
    font-family: 'Muli';
    line-height: 1;
}

.topPart{
    text-align: center;
}

#cal-title-sub{
    margin-bottom: 30px;
}

span{
    display: inline-block;
    margin-right: 13px;
}

i{
    cursor: pointer;
}

i#mood-1{color: var(--mood-color-1);}
i#mood-2{color: var(--mood-color-2);}
i#mood-3{color: var(--mood-color-3);}
i#mood-4{color: var(--mood-color-4);}
i#mood-5{color: var(--mood-color-5);}

.i-selected{
    color: white !important;
}
